<div id="tenant">
    <h3>{{testing}}</h3>
    <center style="background-color:blueviolet"><h1>hello malky</h1></center>

</div>


@section scripts{
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/vue-folder/editHouse-vue.js"></script>
}