
@{
    ViewBag.Title = "AddHouse";
}
<div id="landlord">

    <datalist id="country">
        <option v-for="countryLocation in countryLocations">
            {{countryLocation.City}} {{countryLocation.State}} {{countryLocation.Country}}
        </option>
    </datalist>
    <form class="cmxform" id="commentForm">
        <div class="well col-md-5 col-md-offset-3">
            <center>
                <h3 style="background-color:aqua">Add New Listing</h3>
                <label>Phone Number or Email</label>
                <input class="form-control" v-model="listingsInfo.ContactInfo" placeholder="Contactinfo" required />

                <label>Amount of Bedrooms</label>
                <input class="form-control" v-model="listingsInfo.Bedrooms" placeholder="Bedrooms" required type="number" />

                <label>Amount of Bathrooms (.5 for half)</label>
                <input class="form-control" v-model="listingsInfo.Bathrooms" placeholder="Bathrooms" required type="number" step="0.5" />

                <label>Price</label>
                <input class="form-control" v-model="listingsInfo.Price" placeholder="Price" type="number" />

                <label>
                    Location (please note. You can't change the location in edit. choose wisely.
                    If city is not found <a href="/home/index" class="btn-link">click here</a>.
                </label>

                <input class="form-control" v-model="listingsInfo.LocationId" list="country" id="getLocationId" v-on:change="getLocationIdOnInput()" placeholder="Location" required />

                <label>Date of rental</label>
                <input class="form-control" v-model="listingsInfo.Date" type="date" required />

                <label>Comments</label>
                <textarea class="form-control" v-model="listingsInfo.Comments" placeholder="Comments" rows="7"> </textarea>

                <label>Furnished</label>
                <input type="checkbox" v-model="listingsInfo.Furnished" /><br />

                <button v-on:click="addRental();" type="submit" class="btn btn-primary">Register listing</button>
            </center>
        </div>

    </form>
    

</div>


@section scripts{
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/vue-folder/addHouse-vue.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
}