
@{
    ViewBag.Title = "AddHouse";
}
<div id="landlord">
    <div class="well col-md-5 col-md-offset-4">
        <center>
            <input class="form-control" v-model="listingsInfo.ContactInfo" placeholder="contactinfo" /><br />

            <input class="form-control" v-model="listingsInfo.Bedrooms" placeholder="bedrooms" /><br />

            <input class="form-control" v-model="listingsInfo.Bathrooms" placeholder="bathrooms" /><br />

            <input class="form-control" v-model="listingsInfo.Price" placeholder="price" /><br />

            <input class="form-control" v-model="listingsInfo.Comments" placeholder="comments" /><br />

            <button v-on:click="addRental()" class="btn btn-primary">submit</button>
        </center>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/vue-folder/addHouse-vue.js"></script>
}