
@{
    ViewBag.Title = "UsersListings";
}

<h4>@User.Identity.Name</h4>

<div id="landlord">

    <table class="table table-bordered table-striped">
        <tr>
            <th>bedrooms</th>
            <th>bathrooms</th>
            <th>comments</th>
            <th>contact info</th>
            <th>Price</th>
            <th>Date</th>
            <th>Is Furnished</th>
            <th>location</th>
            <th>Actions</th>
        </tr>
        <tr v-for="x in listings">
            <td>{{x.Bedrooms}}</td>
            <td>{{x.Bathrooms}}</td>
            <td>{{x.Comments}}</td>
            <td>{{x.ContactInfo}}</td>
            <td>{{x.Price}}</td>
            <td>{{x.Date | toShortDateString}}</td>
            <td>{{x.Furnished | isFurnished}}</td>
            <td>{{x.Location.City}} {{x.Location.State}} ({{x.Location.Country}})</td>

            @*<td v-if="!x.Edit" v-on:dblclick="makeEditable(x)">
            <span>{{x.Price}}</span>
        </td>
        <td v-else v-on:dblclick="cancel(x)">
            <input v-model="x.Price" />
        </td>*@

            <td><button class="btn btn-primary">save</button></td>
        </tr>
    </table>
</div>

@section scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/vue-folder/addHouse-vue.js"></script>
}